.form-footer {
  min-height: 86px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media screen and (max-width: 1199px) {
    max-width: 450px;
    justify-content: center;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (min-width: 1200px) {
    width: 570px;
  }

  &__slogan {
    font-family: Roboto;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--buttons-text-active);
  }

  &__input--email {
    width: 358px;
    height: 50px;
    padding: 15px 16px;
    margin-top: 20px;
    background: transparent;

    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;

    letter-spacing: 0.03em;
    color: #ffffff;
  }

  &__input--email::placeholder {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;

    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
  }

  &__btn--subscribe {
    position: relative;
    display: block;
    width: 200px;
    height: 50px;
    margin-top: 20px;
    margin-left: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 29px;
    padding-right: 62px;

    background: #2196f3;
    border-radius: 4px;
    transition: background-color var(--transition-duration)
        var(--transition-timing-function),
      box-shadow var(--transition-duration) var(--transition-timing-function);
    cursor: pointer;

    font-family: Roboto;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;

    color: #ffffff;
    border-style: none;
  }

  &__btn--subscribe:hover,
  &__btn--subscribe:focus {
    background-color: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }

  &__icon {
    position: absolute;
    right: 28px;
    top: 0;
    width: 24px;
    height: 24px;
    transform: translateY(50%);
    fill: var(--buttons-text-active);
  }
}
