:root {
  --bg-color: #ffffff;
  --bg-color-secondary: #2f303a;
  --main-text: #212121;
  --secondary-text: #757575;
  --text-hover: #2196f3;
  --color-logos: #2196f3;
  --buttons-text: #212121;
  --buttons-text-active: #ffffff;
  --buttons-main-bcg: #f5f4fa;
  --buttons-active-bcg: #2196f3;
  --footer-contacts: rgba(255, 255, 255, 0.6);
  --margin-card-set: 30px;
  --icons-bg: ##f5f4fa;
  --icon-color: #afb1b8;
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --form-hover: #2196f3;
}
