.grid {
  padding: 0 15px;
  @media screen and (min-width: 767px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * 30px);
    margin-top: calc(-1 * 30px);
    width: 768px;
    padding: 0 15px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.product {
  text-align: center;
  @media screen and (min-width: 767px) {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc(100% / 2 - 30px);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 3 * var(--margin-card-set)) / 3);
    margin-left: var(--margin-card-set);
    margin-top: var(--margin-card-set);
    text-align: left;
  }

  &__link {
    display: block;
    text-decoration: none;
    width: 100%;
    height: 404px;
    left: 215px;
    top: 262px;

    background: #ffffff;
    box-sizing: border-box;

    transition: box-shadow var(--transition-duration)
      var(--transition-timing-function);

    @media screen and (max-width: 767px) {
      width: 370px;
    }
  }

  &__link:hover,
  &__link:focus {
    background: #ffffff;
    box-sizing: border-box;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;
  }

  &__link:hover &__container,
  &__link:focus &__container {
    transform: translateY(0%);
  }

  &__thumb {
    position: relative;
    overflow: hidden;
  }

  &__container {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    padding: 64px 24px;
    transform: translateY(100%);
    transition: transform var(--transition-duration)
      var(--transition-timing-function);
    overflow: auto;

    background-color: rgba(33, 150, 243, 0.9);

    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    color: #ffffff;
  }
}

.subtitle {
  color: var(--main-text);
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  &__container {
    padding: 20px 24px;
    border-bottom: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
  }

  &__discription {
    margin-top: 4px;

    color: var(--secondary-text);
    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
  }
}
