.features {
  &__list {
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    @media screen and (min-width: 1200px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
    }
  }

  &__item {
    margin-bottom: 30px;

    @media screen and (min-width: 768px) {
      width: calc((100% - 90px) / 2);
      margin-right: 30px;
    }

    @media screen and (min-width: 1200px) {
      width: calc((100% - 90px) / 4);
      margin-right: 30px;
      margin-bottom: 0px;
    }
  }

  &__item:last-child {
    @media screen and (min-width: 1200px) {
      margin-right: 0px;
    }
  }

  &__box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    width: 100%;
    height: 120px;

    background-color: var(--buttons-main-bcg);

    @media screen and (min-width: 480px) {
      width: 450px;
    }

    @media screen and (min-width: 768px) {
      width: 354px;
    }

    @media screen and (min-width: 1200px) {
      width: 270px;
    }
  }

  &__icon {
    width: 70px;
    height: 70px;
  }

  &__headings {
    color: var(--main-text);
    font-family: inherit;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    @media screen and (min-width: 768px) {
      text-align: left;
    }
  }

  &__paragraphs {
    margin-top: 10px;

    color: var(--secondary-text);
    font-family: inherit;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}
