.footer {
  background-color: #2f303a;
  padding-bottom: 60px;
  padding-top: 60px;

  &__container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background: #2f303a;
  }
}

.location {
  font-family: Roboto;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;

  color: #ffffff;

  &__adress {
    margin-top: 20px;

    color: var(--buttons-text-active);
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;

    transition: color var(--transition-duration)
      var(--transition-timing-function);
  }
}

.footer-contacts {
  &__item {
    margin-top: 10px;
  }

  &__link {
    color: rgba(255, 255, 255, 0.6);
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;

    transition: color var(--transition-duration)
      var(--transition-timing-function);
  }
}

.footer-social-network {
  width: 206px;
  min-height: 80px;

  &__slogan {
    font-family: Roboto;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--buttons-text-active);
  }
  &__list {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  &__links {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    transition: background-color var(--transition-duration)
      var(--transition-timing-function);
  }

  &__links:hover,
  &__links:focus {
    background-color: var(--text-hover);
    color: #ffffff;
  }

  &__icons {
    width: 20px;
    height: 20px;
    fill: currentColor;
  }
}
