.hero {
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--bg-color-secondary);
  font-size: 26px;
  line-height: 1.6;
  width: 100%;
  padding: 118px 60px;
  min-height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../css/images/bg-hero.jpg);

  @media screen and (min-width: 768px) {
    padding: 118px 204px;
  }
  @media screen and (min-width: 1200px) {
    padding: 200px 15px;
    max-width: 1600px;
    height: 600px;
  }

  &__heading {
    color: var(--bg-color);
    font-family: inherit;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    @media screen and (min-width: 1200px) {
      font-size: 44px;
      line-height: 1.36;
    }
  }

  &__button {
    width: 200px;
    height: 50px;
    left: 700px;
    top: 430px;
    margin-top: 30px;
    padding: 0;

    color: var(--buttons-main-bcg);
    background-color: var(--buttons-active-bcg);
    cursor: pointer;
    border-radius: 4px;
    border-style: none;

    font-size: 16px;
    line-height: 2.25;
    font-family: inherit;
    font-family: Roboto;
    font-weight: bold;
    letter-spacing: 0.06em;
    color: #ffffff;

    transition: background-color var(--transition-duration)
      var(--transition-timing-function);
  }

  &__button:hover,
  &__button:focus {
    background: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}

@media (min-device-pixel-ratio: 1),
  (min-resolution: 96dpi) and (max-width: 1199px),
  (min-resolution: 1dppx) and (max-width: 1199px) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../image/tablet/hero-tablet.jpg");
  }
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi) and (min-width: 1200px),
  (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../image/pc/hero-comp@2x.jpg");
  }
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi) and (max-width: 1199px),
  (min-resolution: 2dppx) and (max-width: 1199px) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../image/tablet/hero-tablet@2x.jpg");
  }
}

@media (min-device-pixel-ratio: 1),
  (min-resolution: 96dpi) and (max-width: 767px),
  (min-resolution: 1dppx) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../image/mobile/Hero.jpg");
  }
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi) and (max-width: 767px),
  (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../image/mobile/Hero2x.jpg");
  }
}
